---
import { Image } from 'astro:assets';
const { imgLink, alt } = Astro.props;
---

<div class="grid items-center justify-center">
    <Image class="h-72 w-72 lg:h-full lg:w-full object-cover rounded-lg" src={imgLink} quality={'low'} alt = {alt}>
</div>
