---
import ImagenGaleria from '@/components/componentes-galeria/imagen-galeria.astro';
import Layout from '../layouts/Layout.astro';

const title = "Galeria"
---

<Layout title = {title} textColor = "text-white" bgColor= "bg-zinc-900">
    
<div class="max-w-7xl mx-auto px-10 md:px-28 lg:px-20">
    <div class="my-5 text-center">
        <h1 class="text-5xl md:text-7xl font-bold text-purple-400">GALERIA</h1>
    </div>


    <div class="grid md:grid-cols-2 gap-4 items-center">

            <div>
                <ImagenGaleria imgLink = "/galeria/imagen-1.webp" alt="lilacdreamers-imagen-galeria" />
            </div>

            <div>
                <ImagenGaleria imgLink = "/galeria/imagen-2.webp" alt="lilacdreamers-imagen-galeria" />
            </div>

            <div>
                <ImagenGaleria imgLink = "/galeria/imagen-3.webp" alt="lilacdreamers-imagen-galeria" />
            </div>
            
            <div>
                <ImagenGaleria imgLink = "/galeria/imagen-4.webp" alt="lilacdreamers-imagen-galeria" />
            </div>

            <div>
                <ImagenGaleria imgLink = "/galeria/imagen-5.webp" alt="lilacdreamers-imagen-galeria" />
            </div>

            <div>
                <ImagenGaleria imgLink = "/galeria/imagen-6.webp" alt="lilacdreamers-imagen-galeria" />
            </div>

            <div>
                <ImagenGaleria imgLink = "/galeria/imagen-7.webp" alt="lilacdreamers-imagen-galeria" />
            </div>

            <div>
                <ImagenGaleria imgLink = "/galeria/imagen-8.webp" alt="lilacdreamers-imagen-galeria" />
            </div>


    </div>
</div>

</Layout>
