---
import MiembroImg from '../components/componentes-miembros/miembro-img.astro';
import Layout from '../layouts/Layout.astro';

const title = "Miembros"
---

<Layout title = {title} textColor = "text-white" bgColor="bg-zinc-900">
    <div class="max-w-7xl mx-auto text-purple-400 mb-12">
        <div class="my-5 text-center">
            <h1 class="text-5xl md:text-6xl lg:text-7xl font-bold text-purple-400">MIEMBROS</h1>
        </div>

        <div class="grid px-10 gap-5 justify-center items-center md:grid-cols-2 md:px-28 lg:grid-cols-4 lg:px-20" transition:animate="fade">
            <MiembroImg nombre = "Isabella" imgLink = "/miembros/isa-miembro.webp"/>
            <MiembroImg nombre = "Sofia" imgLink = "/miembros/sofia-miembro.webp"/>
            <MiembroImg nombre = "Daniela" imgLink = "/miembros/daniela-miembro.webp"/>
            <MiembroImg nombre = "Tatiana" imgLink = "/miembros/tatiana-miembro.webp"/>
            <MiembroImg nombre = "nombre1" imgLink = "/miembros/nombre1-miembro.webp"/>
            <MiembroImg nombre = "nombre2" imgLink = "/miembros/nombre2-miembro.webp"/>
            <MiembroImg nombre = "nombre3" imgLink = "/miembros/nombre3-miembro.webp"/>
            <MiembroImg nombre = "nombre4" imgLink = "/miembros/nombre4-miembro.webp"/>
        </div>

    </div>
</Layout>
