---
import MiembroImg from '@/components/componentes-perfil/miembro-img.astro';
import Layout from '../layouts/Layout.astro';

const title = "Miembros"
---

<Layout title = {title} textColor = "text-white" bgColor="bg-zinc-900">
    <div class="max-w-7xl mx-auto text-purple-400 mb-12">
        <div class="my-5 text-center">
            <h1 class="text-7xl font-bold text-purple-400">MIEMBROS</h1>
        </div>

        <div class="grid grid-cols-4 gap-5 justify-center items-center">
            <MiembroImg nombre = "Isabella" imgLink = "/miembros/isa-miembro.png"/>
            <MiembroImg nombre = "Sofia" imgLink = "/miembros/sofia-miembro.png"/>
            <MiembroImg nombre = "Daniela" imgLink = "/miembros/daniela-miembro.png"/>
            <MiembroImg nombre = "Tatiana" imgLink = "/miembros/tatiana-miembro.png"/>
            <MiembroImg nombre = "nombre1" imgLink = "/miembros/nombre1-miembro.png"/>
            <MiembroImg nombre = "nombre2" imgLink = "/miembros/nombre2-miembro.png"/>
            <MiembroImg nombre = "nombre3" imgLink = "/miembros/nombre3-miembro.png"/>
            <MiembroImg nombre = "nombre4" imgLink = "/miembros/nombre4-miembro.png"/>
        </div>

    </div>
</Layout>
