---
import Layout from '../layouts/Layout.astro';
import MiembroImg from '@/components/componentes-unete/imagen-miembro.astro';

const title = "Unete"
---

<Layout title = {title} textColor = "text-white" bgColor="bg-zinc-900">
    <div class="max-w-7xl mx-auto grid text-purple-400 space-y-5 px-10 md:px-20 lg:px-20">
        <div class="my-5 text-center order-1 md:order-1 space-y-5">
            <h2 class="text-4xl md:text-5xl lg:text-7xl font-bold text-white"><span class="text-purple-400">LILAC</span>DREAMERS</h2>
            <div>
                <a href = "https://docs.google.com/forms/d/e/1FAIpQLSeJ0EbWeBrFwKSHB_o08n5cAuJvxaV3d4OfKLar21THibqM6Q/viewform" target="_blank" class="md:text-3xl lg:text-2xl font-bold p-2 bg-purple-400 hover:bg-purple-500 rounded-lg text-white">Unete!</a>
        </div>
        </div>


        <div class="flex order-2 md:order-2">
            <div class="grid max-w-sm mx-auto items-center">
                <img src= "/miembros/nombre4-miembro.webp" alt = "lilacdreamrs - miembro" class="hidden sm:block h-[100px] md:h-[100px] lg:h-[200px] object-cover rounded blur-sm hover:blur-none" />
            </div>
            
            <div class="grid max-w-sm mx-auto items-center">
                <img src= "/miembros/nombre1-miembro.webp" alt = "lilacdreamrs - miembro" class="hidden lg:block h-[100px] md:h-[100px] lg:h-[300px] object-cover rounded blur-sm hover:blur-none" />
            </div>  

            <div class="grid max-w-sm mx-auto items-center">
                <img src= "/miembros/daniela-miembro.webp" alt = "lilacdreamrs - miembro" class="h-[200px] md:h-[200px] lg:h-[400px] object-cover rounded blur-sm hover:blur-none" />
            </div>    

            <div class="grid max-w-sm mx-auto items-center">
                <img src= "/miembros/isa-miembro.webp" alt = "lilacdreamrs - miembro" class="h-[300px] md:h-[300px] lg:h-[500px] object-cover rounded" />
            </div>   


            <div class="grid max-w-sm mx-auto items-center">
                <img src= "/miembros/sofia-miembro.webp" alt = "lilacdreamrs - miembro" class="h-[300px] md:h-[300px] lg:h-[500px] object-cover rounded" />
            </div>   
                     
            <div class="grid max-w-sm mx-auto items-center">
                <img src= "/miembros/tatiana-miembro.webp" alt = "lilacdreamrs - miembro" class="h-[200px] md:h-[200px] lg:h-[400px] object-cover rounded blur-sm hover:blur-none" />
            </div>   

            <div class="grid max-w-sm mx-auto items-center">
                <img src= "/miembros/nombre2-miembro.webp" alt = "lilacdreamrs - miembro" class="hidden lg:block h-[100px] md:h-[100px] lg:h-[300px] object-cover rounded blur-sm hover:blur-none" />
            </div>    

            <div class="grid max-w-sm mx-auto items-center">
                <img src= "/miembros/nombre3-miembro.webp" alt = "lilacdreamrs - miembro" class="hidden sm:block h-[100px] md:h-[100px] lg:h-[200px] object-cover rounded blur-sm hover:blur-none" />
            </div>
        </div>
    </div>
</Layout>

<style>
    img {
        transition: 0.5s ease;
        mask-image: linear-gradient(black 70%, transparent);
    }

    img:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
        z-index: 99;
    }
</style>