---
import Menu from '@/components/menu/Menu';
---


<div class="relative">
    <video autoplay loop src="/videos/lilacdreams.mp4" class="w-full h-[100vh] object-cover"></video>
    <div class="absolute inset-0 bg-zinc-900 opacity-40"></div>
    <div class="absolute inset-0" >
        <Menu client:load/>
        <div class="flex flex-col space-y-5 items-end mr-10 mt-18">
            <div class="flex flex-col justify-end items-end">
                <a class="text-[7em] font-bold text-white"href="https://www.youtube.com/watch?v=M5vsK7MMM_k&t=35s" target="_blank">BABY MONSTER</a >
                <p class="text-4xl text-white">BATTER UP</p>
            </div>
            <div class="w-40 bg-white h-1"></div>
        </div>
    </div>
  </div>
