---

const { nombre, imgLink } =  Astro.props; 
---

    <div class="max-w-sm mx-auto">
      <div class="relative group">
        <img
          src={imgLink}
          alt="Imagen" class="h-96 lg:h-[500px] object-cover rounded shadow-xl hover:shadow-2xl" />
        <div class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full"></div>
        <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
          <div class="flex-row text-center">
            <h1 class="text-white font-bold text-5xl">{nombre}</h1>
          </div>
        </div>
      </div>
    </div>
